{% extends 'base.html' %}
{% load static %}
{% load social_share %}
{% load home_tags %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
        <div class="container-fluid">
            <div class="owl-banner owl-carousel">
                {% for article in articles %}
                    <div class="item">
                        <img src="{{ article.image.url }}" alt="{{ article.author }}">
                        <div class="item-content">
                            <div class="main-content">
                                <div class="meta-category">
                                    <span>{{ article.category.first.title }}</span>
                                </div>
                                <a href="{{ article.get_absolute_url }}"><h4>{{ article.title }}</h4></a>
                                <ul class="post-info">
                                    <li><a href="#">{{ article.author }}</a></li>
                                    <li><a href="#">{{ article.date }}</a></li>
                                    <li><a href="#">12 Comments</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->




    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                {% for article in recent_articles %}
                                    <div class="blog-post">
                                        <div class="blog-thumb">
                                            <img src="{{ article.image.url }}" alt="">
                                        </div>
                                        <div class="down-content">
                                            <span>{{ article.category.first }}</span>
                                            <a href="{{ article.get_absolute_url }}">
                                                <h4>{{ article.author.get_full_name }}</h4></a>
                                            <ul class="post-info">
                                                <li><a href="#">{{ article.author.username }}</a></li>
                                                <li><a href="#">{{ article.date }}</a></li>
                                                <li><a href="#">12 Comments</a></li>
                                            </ul>
                                            <p>{{ article.body_max}}</p>
                                            <div class="post-options">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <ul class="post-tags">
                                                            <li><i class="fa fa-tags"></i></li>
                                                            <li><a href="#">Beauty</a>,</li>
                                                            <li><a href="#">Nature</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-6">
                                                        <ul class="post-share">
                                                            <li><i class="fa fa-share-alt"></i></li>
                                                            <li>{% post_to_whatsapp article.get_absolute_url 'whatsapp' %}</li>
                                                            <li>{% post_to_facebook article.get_absolute_url 'facebook' %}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a href="{% url 'blog:post_list' %}">View All Posts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% sidebar posts_count=5 show_categories=True %}
            </div>
        </div>
    </section>

{% endblock %}


