# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/media/
staticfiles/
static/
.env

# VSCode / PyCharm / Editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
