{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <title>{% block title %} {% endblock %}</title>
    {% include 'includes/head_refrence.html' %}

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
{% include 'includes/header.html' %}

{% block content %}



{% endblock %}






{% include 'includes/footer.html' %}

<!-- Bootstrap core JavaScript -->
{% include 'includes/footer_refrence.html' %}

</body>
</html>

